/* Estilo general del pie de página */
footer {
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    font-size: 16px;
}

/* contenedores del footer */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

/* Logo en el footer */
.footer-logo {
    display: block;
    margin: 45px auto 20px;
    height: 130px;
    width: auto;
}

/* diseño de cada sección (Indicaciones, contactos y enlaces) */
.footer-section {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    min-width: 250px;
}

/* diseño de los encabezados en cada sección */
.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.centerText {
    text-align: center;
}

/* diseños de la lista desordenada en enlaces */
.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* diseño del link en las listas */
.footer-section ul li a {
    text-decoration: none;
    color: white;
}

/* animación del link en las listas */
.footer-section ul li a:hover {
    color: #fff;
}

/* Contacto horizontal */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: white;
}

.contact-info a {
    text-decoration: none;
    color: white;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #aaa;
}

/* Diseño y tamaño de la imagen de contactos */
.contact-info img {
    width: 30px;
    height: 30px;
}

/* Derechos reservados */
footer div[style="text-align: center;"] {
    margin-top: 20px;
    font-size: 13px;
    color: white;
}