/* Hero Section */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    clip-path: ellipse(100% 100% at 50% 0%);
    overflow: hidden;
    height: 100vh;
}

/* Video de fondo */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Contenido del Hero */
.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* Título */
.hero h1 {
    margin-top: 220px;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

/* Descripción */
.hero p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
}

/* Botón Hero */
.hero-btn {
    background-color: transparent; /* Fondo transparente */
    color: white; /* Texto en blanco */
    border: 2px solid white; /* Borde blanco */
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px; /* Espacio entre subtítulo y botón */
}

.hero-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco transparente al pasar el cursor */
    transform: scale(1.05); /* Pequeño efecto de zoom */
}

.ranked-container {
    padding: 20px;
    text-align: center;
}

.values-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.value-item {
    text-align: center;
    max-width: 200px;
}

.value-item img {
    width: 150px;
    height: 150px;
}

.value-item h3 {
    color: #005682;
    font-size: 1.2rem;
}

.value-item p {
    font-size: 0.9rem;
    color: #333;
}