/* Barra de navegación */
nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 30px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* Estado al desplazarse */
nav.scrolled {
    background-color: white;
}

/* tamaño del logo */
nav .logo-container img {
    height: 70px;
    width: auto;
}

/* diseño de las opciones del navegador */
nav a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

/* animación del navegador */
nav a:hover {
    color: #ffc107;
}

.quote-btn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}