.quotation-section {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.info-contact-section{
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-contact-section h2{
    margin-bottom: 10px;
}

.info-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-contact-items{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.info-contact-items a{
    color: #333;
    text-decoration: none;
}

.info-contact-items a:hover{
    color: #005682;
    text-decoration: underline;
}

.info-contact-items img{
    width: 40px;
    height: 40px;
}

.info-contact-items p {
    margin: 0;
    font-size: 16px;
    color: #333;
}